@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", ui-sans-serif, system-ui, sans-serif;

  --color-burguer-red: #b30000;
  --color-burguer-yellow: #ffcc00;
  --color-burguer-dark: #0f0f0f;
  --color-burguer-card: #1a1a1a;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-burguer-dark text-white font-sans;
  }
}
